
<div class="popup">
    <h1>Thank You!</h1>
    <div class="text-center">
        <div class="border-popup"></div>
    </div>
    <p>
        You have beed added to our list and will hear from us soon!</p>
    <div class="martp20"><a href="/" class="btn btn-black">RETURN TO WEBSITE</a></div>
</div>

