
@{
    ViewBag.Title = "CheckCookies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Go to the browser developers tool or press F12. Then switch to the Application tab. Left side you will see Cookies. Expand to see the cookie by the name "popped=yes". Below is the screenshot.</h2>

<img class="img-responsive" src="~/images/cookies_created.png" />