
@{
    ViewBag.Title = "PopupMobile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Here is the screenshot of the Pop up bar on mobile device!</h2>

<div class="col-sm-6">
    <h3>1. Pop up bar on page load or when you click the (open pop up window) button.</h3>
    <img class="img-responsive text-center" src="~/images/popup-mobile.png" />
</div>

<div class="col-sm-6">
    <h3>2. Pop up bar expands when you click on the pop up bar.</h3>
    <img class="img-responsive text-center" src="~/images/popup-mobileonclick.png" />
</div>

