
@{
    ViewBag.Title = "PopupDesktop";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Here is the screenshot of the Pop up Window on desktop!</h2>


<img class="img-responsive" src="~/images/popup-desktop.png" />
